{% extends 'base.html' %}
{% block title %}Detalhes do Autor{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h3>{{ author.fullname }}</h3>
    </div>
    <div class="card-body">
      <p><strong>Data de nascimento:</strong> {{ author.birthdate }}</p>
      <p><strong>Nota:</strong> {{ author.rating }}/10</p>
      <a href="{% url 'author-list' %}" class="btn btn-secondary mt-3">Voltar</a>
    </div>
  </div>
</div>
{% endblock %}
