{% extends 'base.html' %}
{% block title %}Detalhes do Livro{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h3>{{ book.title }}</h3>
    </div>
    <div class="card-body">
      <p><strong>Autor:</strong> {{ book.author }}</p>
      <p><strong>Categoria:</strong> {{ book.category }}</p>
      <p><strong>Ano de Publicação:</strong> {{ book.year_published }}</p>
      <p><strong>Editora:</strong> {{ book.publisher }}</p>
      <p><strong>Descrição:</strong><br> {{ book.description }}</p>
      <a href="{% url 'book-list' %}" class="btn btn-secondary mt-3">Voltar</a>
    </div>
  </div>
</div>
{% endblock %}
