<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empréstimos</title>
</head>
<body>
    <h1>Lista de Empréstimos</h1>
    <a href="{% url 'loan-create' %}">Adicionar Empréstimo</a>
    <ul>
        {% for loan in loans %}
            <li>{{ loan.book.title }} - {{ loan.return_date }} - {{ loan.returned }}
                <a href="{% url 'loan-update' loan.pk %}">Editar</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
