{% extends 'base.html' %} 
{% load static %} 
{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
  <div class="card shadow-lg" style="max-width: 800px; width: 100%">
    <div class="row g-0">
      <div class="col-md-2 d-none d-md-block">
        <img
          src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?fit=crop&w=800&q=80"
          alt="Pessoas lendo livros"
          class="img-fluid h-100 rounded-start"
          style="object-fit: cover"
        />
      </div>

      <div class="col-md-10 p-5 d-flex flex-column align-items-center">
        <h3 class="mb-4 text-center">Bem-vindo de volta</h3>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button class="btn btn-primary w-100 mt-3" type="submit">
            Entrar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
